* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

nav {
    margin-top: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #28a745;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #218838;
    color: #fff;
}

.greentxt
{
    text-decoration: none;
    color: #28a745;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    flex: 1;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.line {
    border: none;
    border-top: 4px solid #fff;
    margin: 20px 0;
}

.dashboard-section {
    margin-bottom: 30px;
}

/* Stilurile pentru .room */
.room {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.room p {
    margin: 0; /* Elimină marginile implicite ale paragrafelor */
}

.room-details {
    display: flex;
    flex-direction: column;
}

.room-details p {
    margin-bottom: 5px;
}

/* Stilurile pentru .rooms */
.rooms {
    display: flex;
    flex-wrap: wrap; /* Permite wrap-ul elementelor pe linii noi */
    gap: 20px;
    background-color: #ebffeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stilurile pentru fiecare cameră individuală */
.room-card {
    flex: 1; /* Fiecare cameră ocupă spațiu egal */
    min-width: 200px; /* Lățimea minimă a fiecărei camere */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.room-card p {
    margin: 0;
}

.room-card h3 {
    margin-bottom: 10px;
}

/* Stilurile pentru tipul camerei */
.room-type {
    font-weight: bold;
}

/* Stilurile pentru numărul camerei */
.room-number {
    font-style: italic;
    color: #666;
}


.reservation, .staff-member, .message {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.reservations, .statistics-content, .staff, .settings-content, .messages, .calendar-content  {
    background-color: #ebffeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reservation p, .room p, .dashboard-section p {
    margin-bottom: 10px;
    color: #666;
}

.reservation p strong, .room p strong, .dashboard-section p strong {
    color: #333;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
