<body>
  <header>
    <h1> Booking App - <span class="colored">Bun venit {{ user?.name }} </span></h1>
  </header>
  <aside class="sidebar">
    <br><br>
    <ul class="menu">
      <li><a > Profil <br></a></li>
      <li><a > Setări <br></a></li>
      <li><a > Mesaje <br></a></li>
      <li><a > Notificări <br></a></li>
      <li><a > Rezervari <br></a></li>
      <li><a > Oferte <br></a></li>
    </ul>
    <br><br><br><br>
    <ul class="about-user">
      <li> SIGNED IN AS:</li>
      <br>
      <li>{{ user?.name }}</li>
      <li>{{ user?.email }}</li>
      <li>{{ user?.phone }}</li>  
    </ul>
  </aside>
  <main>
    <div class="hotel-list">
      <div class="hotel">
        <div class="hotel-info">
          <h2>Vila Serenissima, Maldives</h2>
          <p>Descoperiți o oază de rafinament și lux în inima Maldivelor, la Vila Serenissima. Situată pe o insulă privată în mijlocul oceanului Indian, această reședință de lux oferă intimitate și eleganță. Cu vile private amplasate pe stâlpii deasupra apei cristaline și servicii personalizate de prim rang, vila promite o experiență paradisiacă și memorabilă.</p>
          <button class="book-button">Book a Vacation Here</button>
        </div>
        <div class="hotel-images">
          <img src="../../assets/img/hotel1.jpg" alt="">
        </div>
      </div>
      <div class="hotel">
        <div class="hotel-info">
          <h2>Palatul Regal, Marrakech</h2>
          <p>Intruchipând splendoarea și bogăția culturii marocane, Palatul Regal din Marrakech vă întâmpină într-o lume de opulență și mister. Cu arhitectură arabescă sofisticată, grădini luxuriante și suite regale ornate cu tapițerii fine și obiecte de artă exotice, acesta este locul ideal pentru cei care caută să se bucure de luxul oriental autentic.</p>
          <button class="book-button">Book a Vacation Here</button>
        </div>
        <div class="hotel-images">
          <img src="../../assets/img/hotel2.jpg" alt="">
        </div>
      </div>
      <div class="hotel">
        <div class="hotel-info">
          <h2>Vila Eden, Santorini</h2>
          <p>Situată pe coastele albe și stâncoase ale insulei grecești Santorini, Vila Eden vă îmbie cu priveliști uimitoare asupra Mării Egee și ale apusurilor de soare spectaculoase. Cu arhitectură cicladică tradițională și facilități moderne de prim rang, această vilă exclusivistă oferă o escapadă romantică și relaxantă într-un cadru idilic.</p>
          <button class="book-button">Book a Vacation Here</button>
        </div>
        <div class="hotel-images">
          <img src="../../assets/img/hotel3.jpg" alt="">
        </div>
      </div>
      <div class="hotel">
        <div class="hotel-info">
          <h2>Hotelul Aurora, Alaska</h2>
          <p>Experimentați frumusețea sălbatică a Alaskăi la Hotelul Aurora, situat în inima tundrei arctice. Împrejmuit de munți impunători și înconjurat de natură sălbatică, acest hotel oferă o priveliște senzațională a dansului fascinant al luminilor nordului. Cu camere confortabile și activități unice precum drumeții pe ghețari și expediții de observare a urșilor polari, Hotelul Aurora promite o aventură neuitată în sălbăticia Alaskăi.</p>
          <button class="book-button">Book a Vacation Here</button>
        </div>
        <div class="hotel-images">
          <img src="../../assets/img/hotel4.jpg" alt="">
        </div>
      </div>
    </div>
  </main>
</body>
